* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #f2f2f2;
}

/* Header */
.header {
    background: #2f4f4f;
    color: #fff;
    padding: 14px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
}

.logo img{
    width: 60px;
}
.logo p .text{
    font-size: 1.65rem;
    font-weight: bold;
}
.account a {
    color: #fff;
    margin-left: 15px;
    text-decoration: none;
}

/* Navigation */
.nav {
    background: #ffffff;
    border-bottom: 1px solid #ddd;
    padding: 12px 30px;
}

.nav a {
    margin-right: 20px;
    text-decoration: none;
    color: #666;
    font-size: 14px;
}

/* .nav a.active {
    color: #009688;
    border-bottom: 2px solid #009688;
    padding-bottom: 6px;
} */

/* Container */
.container {
    display: flex;
    justify-content: center;
    padding: 40px;
}

/* Card */
.card {
    background: #fff;
    width: 800px;
    padding: 30px;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0,0,0,0.05);
}

.card h2 {
    margin-bottom: 15px;
}

/* Sub Tabs */
.sub-tabs {
    margin-bottom: 20px;
}

.sub-tabs a {
    margin-right: 15px;
    font-size: 14px;
    text-decoration: none;
    color: #009688;
}

.sub-tabs a.active {
    font-weight: bold;
}

/* Sections */
.section {
    margin-top: 25px;
}

.label {
    font-weight: bold;
    margin-bottom: 10px;
}

.radio {
    display: flex;
    align-items: center;
    font-size: 14px;
}

.radio input {
    margin-right: 8px;
}

/* Credit Card UI */
.credit-box {
    margin-top: 15px;
}

.card-front {
    background: #f9f9f9;
    width: 320px;
    padding: 15px;
    border-radius: 6px;
    border: 1px solid #ddd;
}

.card-front input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.row {
    display: flex;
    gap: 10px;
}

/* Buttons */
.buttons {
    margin-top: 15px;
}

.primary {
    background: #9e9e9e;
    color: #fff;
    border: none;
    padding: 8px 15px;
    border-radius: 4px;
    cursor: pointer;
}

.secondary {
    background: #e0e0e0;
    border: none;
    padding: 8px 15px;
    margin-left: 8px;
    border-radius: 4px;
    cursor: pointer;
}

/* PayPal */
.paypal {
    height: 22px;
}

/* Text */
.muted {
    color: #777;
    font-size: 13px;
}

.buttonclass{
    display: flex;
    align-items: center;
    gap: 30px;
    margin-top: 24px;
}
.btn1{
    padding: 8px 17px;
    border-radius: 7px;
    border: none;
    background-color: #4ab94a;
    color: white;
}
.btn2{
    padding: 8px 15px;
    border-radius: 7px;
    border: none;
    color: white;
    background-color: #777;;
}